<div class="shell-panel">

  <mat-form-field
      appearance="outline">

    <div
        matPrefix
        class="path-div">{{ path }}&gt;
    </div>
    <input
        (focusin)="onFocusIn()"
        (focusout)="onFocusOut()"
        (keydown.enter)="onOkClicked()"
        [(ngModel)]="text"
        [placeholder]="'Enter shell command'"
        matInput/>
    <!--fnf-select-folder-dropdown
        (onSelected)="onFolderClicked($event)"
        matSuffix></fnf-select-folder-dropdown-->
  </mat-form-field>
</div>
