:host {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100vw;
    height: 100vh;

    background-color: var(--vscode-editor-background, #000);
    color: var(--vscode-editor-foreground, #fff);

    .title-div {
        padding: 8px 16px;

        .name {
            font-weight: bold;
            font-size: 1.2em;
            background-color: var(--vscode-breadcrumb-background, #1e1e1e);
            color: var(--vscode-breadcrumb-foreground, rgba(204, 204, 204, 0.8));
        }

        .folder {
            font-weight: normal;
            font-size: 0.8em;
        }
    }

    .button-div {
        padding: 8px 16px;
        display: grid;
        grid-template-columns: auto 1fr auto;
    }

    .monaco-editor {
        width: 100vw;
        height: 100%;
    }

    button {
        padding: 8px 18px;
        border-radius: 4px;
        background-color: var(--vscode-button-background, #0e639c);
        color: var(--vscode-button-foreground, #ffffff) !important;
        border-color: var(--vscode-button-separator, rgba(255, 255, 255, 0.4));
    }

    button:hover {
        background-color: var(--vscode-button-hoverBackground, #1177bb);
    }

    button:focus {
        border-color: var(--vscode-focusBorder, #007fd4);
    }


    button.secondary {
        background-color: var(--vscode-button-secondaryBackground, #0e639c);
        color: var(--vscode-button-secondaryForeground, #ffffff);
    }

    button.secondary:hover {
        background-color: var(--vscode-button-secondaryHoverBackground, #1177bb);
    }



}

