
.mat-mdc-dialog-content {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;

    form {
        height: 100%;
        display: grid;
        grid-template-rows: auto auto auto auto 1fr;
        grid-gap: 12px;
        align-items: start;
        align-content: start;

        & > div {
            height: 100%;
            width: 100%;
        }
    }
}


.mat-mdc-form-field {
    /*width: 100%;*/
}

.mat-mdc-dialog-actions {
    justify-content: flex-end;

    .mdc-button {
        min-width: 200px;
    }
}


