<h2
    data-test-id="page-subtitle-h2"
    mat-dialog-title>Multi Rename</h2>

<mat-dialog-content>


  <form
      [formGroup]="formGroup"
      autocomplete="off">

    <div class="row-1">
      <mat-form-field>
        <mat-label>New name</mat-label>
        <input
            formControlName="name"
            matInput
            placeholder="New name"/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Capitalize</mat-label>
        <mat-select
            formControlName="capitalizeMode"
            placeholder="Capitalize">
          @for (option of options.capitalizeModes; track option.value) {
            <mat-option [value]="option.value">{{ option.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Counter Start</mat-label>
        <mat-select
            formControlName="counterStart"
            placeholder="Counter Start">
          @for (option of options.starts; track option.value) {
            <mat-option [value]="option.value">{{ option.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Counter Steps</mat-label>
        <mat-select
            formControlName="counterStep"
            placeholder="Counter Step">
          @for (option of options.steps; track option.value) {
            <mat-option [value]="option.value">{{ option.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Counter Digits</mat-label>
        <mat-select
            formControlName="counterDigits"
            placeholder="Counter Digits">
          @for (option of options.digits; track option.value) {
            <mat-option [value]="option.value">{{ option.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row-2">
      <label>
        [N] Name,
        [N#-#] Part of Name (Example: [N1-8]),
        [E] Extension,
        [E#-#] Part of Ext,
        [C] Counter,
        [P] Parent Dir
      </label>
    </div>

    <div class="row-3">
      <mat-checkbox formControlName="replaceGermanUmlauts">Fix german umlauts</mat-checkbox>
      <mat-checkbox formControlName="replaceRiskyChars">Replace risky chars</mat-checkbox>
      <mat-checkbox formControlName="replaceSpaceToUnderscore">Space to underscore</mat-checkbox>
      <mat-checkbox formControlName="replaceParentDir">Remove parent dir</mat-checkbox>
      <div></div>
    </div>


    <div class="row-4">
      <mat-checkbox formControlName="replacementsChecked">Search and replace</mat-checkbox>
    </div>

    <div class="row-5" [class.hidden]="!formGroup.get('replacementsChecked')?.value">
      <ng-container formArrayName="replacements">
        @if (replacements.controls) {
          @for (replacementForm of replacements.controls; track replacementForm; let i = $index) {
          <div [formGroupName]="i" class="replacement-row">

            <mat-checkbox formControlName="checked">Replace</mat-checkbox>

            <mat-form-field>
              <input formControlName="textFrom" matInput/>
            </mat-form-field>

            <label>with</label>

            <mat-form-field>
              <input formControlName="textTo" matInput/>
            </mat-form-field>

            <mat-checkbox formControlName="regExpr">Use RegExp</mat-checkbox>

            <mat-checkbox formControlName="ifFlag">only if match</mat-checkbox>

            <mat-form-field>
              <input formControlName="ifMatch" matInput />
            </mat-form-field>
          </div>
        }
      }
      </ng-container>
    </div>


    <div class="row-6" style="background-color: yellow">
      TABELLE
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button
      (click)="onCancelClicked()"
      data-test-id="dialog-cancel-button"
      mat-raised-button>
    Cancel
  </button>

  <button
      (click)="onOkClicked()"
      [disabled]="!formGroup.valid"
      color="primary"
      data-test-id="dialog-ok-button"
      mat-raised-button>
    Rename All
  </button>
</mat-dialog-actions>