@if (fileItem && !this.tabfind) {
  <div
      class="fnf-header-fg-color not-selectable"
      [class.fnf-activepanel-header-fg-color]="activeAndSelected">{{ shortenLabel(fileItem.base) }}
  </div>
}
@if (fileItem && this.tabfind) {
  <div
      class="fnf-header-fg-color not-selectable"

      appLongPress
      [pressDuration]="1000"
      (longPress)="onLongPress($event)"

      [matTooltipShowDelay]="2000"
      [matTooltip]="'Search '+pattern"
      [class.fnf-activepanel-header-fg-color]="activeAndSelected">
    <mat-icon>search</mat-icon>
  </div>
}