<h2
    data-test-id="page-subtitle-h2"
    mat-dialog-title>Shortcuts</h2>

<mat-dialog-content>
  <div class="dlg-content-div">
    <div class="shortcut-table">
      <div class="shortcut-row header">
        <div class="shortcut-cell">Action</div>
        <div class="shortcut-cell">Description</div>
        <div class="shortcut-cell">Shortcuts</div>
      </div>
      @for (item of actionIdLabelShortcuts; track item) {
        <div class="shortcut-row">
          <div class="shortcut-cell">{{ item.actionId }}</div>
          <div class="shortcut-cell">{{ item.label }}</div>
          <div class="shortcut-cell">
            @for (shortcut of item.shortcuts; track shortcut) {
              <fnf-shortcut [keys]="shortcut.split(' ')"></fnf-shortcut>
            }
          </div>
        </div>
      }
    </div>

  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button
      (click)="onCancelClicked()"
      data-test-id="dialog-cancel-button"
      mat-raised-button>
    Close
  </button>
</mat-dialog-actions>
