
.server-shell-div {
    width: 100vw;
    height: 100vh;
    overflow: clip;

    display: grid;
    grid-template-rows: 1fr auto;

    transition: transform 0.3s ease-in-out;

    .footer-div {
        padding-left: 16px;
        padding-right: 16px;
        display: grid;
        grid-gap: 16px;
        grid-template-columns: 1fr auto;
        align-items: center;

        .mat-mdc-form-field {
            .mdc-text-field.mdc-text-field--outlined {
                border-color: transparent;
            }

            .mat-mdc-form-field-subscript-wrapper {
                display: none;
            }
        }
    }
}

.server-shell-div.slide-out-right {
    transform: translateX(100%);
}

.server-shell-div.slide-in-right {
    transform: translateX(100%);
}

.server-shell-div.slide-in-right.animate-in {
    transform: translateX(0%);
}
