<div class="task-list-div">
  <div class="header">
    Overall:
    <app-busy-bee [status]="status"></app-busy-bee>
    {{ queueProgress.getInfoText() }}
  </div>
  <div class="body">

    <table>
      <thead>
      <tr>
        <td>Grp</td>
        <td>Cmd</td>
        <td>Status</td>
        <td></td>
        <td>File</td>
      </tr>
      </thead>
    @for (action of queue.actions; track action) {
      <tr class="row">
        <td>{{action.id}}</td>
        <td>CMD:{{action.filePara.cmd.toLowerCase()}}</td>
        <td>{{getBeeStatus(action.status)}}</td>
        <td>
          <app-busy-bee [matTooltip]="action.status" [status]="getBeeStatus(action.status)"></app-busy-bee>
        </td>
        <td>{{getFileName(action)}}</td>
      </tr>
    }
    </table>

  </div>
  <div class="footer">
    TODO button
  </div>
</div>

